<div class="container">
  <div class="row">
    <div class="col-sm px-5">
      <h1 class = "pt-5">編集フォーム</h1>
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @post do |f| %>
        <h2 class = "pt-3 pb-1">施設名</h2>
        <%= f.text_field :title %>
        <h2 class = "pt-3">説明</h2>
        <%= f.text_area :body %>
        <div id = "post_raty_<%= @post.id %>"></div>
          <!--レビュー機能-->
          <script>
            $('#post_raty_<%= @post.id %>').empty();
            (function() {
              let elem = document.querySelector('#post_raty_<%= @post.id %>');
              let opt = {  
                size: 36,
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                half: false, 
                scoreName: 'post[star]',
                score: "<%= @post.star %>",
              };
              raty(elem, opt);
            })();
          </script>
        <%= f.submit '更新', class: "btn btn-primary" %>
      <% end %>
      <%= link_to '削除', post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger" %>
    </div>
  </div>
</div>