<div class="container">
  <div class="row">
    <div class="col-sm px-5">
      <% flash[:notice] %>
      <h1>投稿フォーム</h1>
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @post do |f| %>
        <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
        <h4>施設名</h4>
        <%= f.text_field :title %>
        <h4>コメント</h4>
        <%= f.text_area :body %></br>
        
        <!--タグ-->
        <div class = "form-group">
          <label>タグ</label></br>
          <%= f.text_field :tag, placeholder: "温泉、旅館等"  %>
        </div>
        
        <!--レビュー-->
         <div id="post_raty"></div>
        <script>
          (function() {
            $('#post_raty').empty();
            let elem = document.querySelector('#post_raty');
            let opt = {  
              size: 36,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              half: false, 
              scoreName: 'post[star]',
            };
            raty(elem, opt);
          })(); 
        </script>
        <%= f.submit '投稿' , class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>