<div class="container">
  <div class="row">
    <div class="col">
      <div>
      <%= image_tag @post.get_image %>
        <p>施設名:<%= @post.title %></p>
        <p>コメント:<%= @post.body %></p>
        <p>投稿者:<%= @post.user.name %></p>
        <p>投稿日:<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <%= link_to '投稿一覧', posts_path %>
      <% if @post.user_id == current_user.id %>
        <%= link_to '編集', edit_post_path(@post.id) %>|
        <%= link_to '削除', post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか?" %>
      <% end %>
      </div>
    </div>
  </div>
</div>